html {
    font: 14px/1.5 "Microsoft YaHei","微软雅黑";
    color:#333333;
  }
  a {
    text-decoration: none;
    color: #333333;
  }
  body,p,h1,h2,h3 {
    margin: 0;
  }
  ul , ol {
    margin: 0;
    padding: 0;
    list-style:none;
  }
  
  .box{
    width: 310px;
    height: 300px;
    background-color: #333333;
    font-size: 16px;
    
  }