html{
    color: #cccccc;
    font:12px/1.5 "Microsoft Yahei","微软雅黑";
}
a{
    text-decoration: none;
    color: #cccccc;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,p,hi,h2,h2{
    margin: 0;
}
/* 页眉 */
.yemei{
    background-color: #333;
    height: 36px;
}
.yemei>.yemei2{
    background-color: #333;
    width: 1090px;
    margin: 0 auto;
    position: relative;
    
}
.yemei>.yemei2>.yemei3{
    float: left;
    line-height: 36px;
}

.yemei ul{
    position: absolute;
    right: 0;
    top:10px;
    

}
.yemei ul>li{
    float: left;
    position: relative;
    text-align: center;
    border-left: 1px solid #ccc;
    line-height: 18px;
    padding: 0 9px;
}
.yemei ul>li>.erji{
    position: absolute;
    display: none;
    right: 0;
    line-height: 18px;
    margin-top: -10px;
}
.yemei ul>li>.erji>ul{
    width: 85px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    z-index: 999;
}

.yemei ul>li>.erji>ul>li{

    border-bottom: 1px solid #ccc;
    border-left: none;
    height: 38px;
    line-height: 38px;

}


.yemei ul>li:hover{
    cursor: pointer;
    color: #ffffff;

}
.yemei>.yemei2>.yemei3:hover{
    cursor: pointer;
    color: #ffffff;
}


.yemei ul>li:first-child{
    border: none;
    cursor: pointer;
}

.yemei ul>li::after{
    content: "";
    clear: both;
    display: block;
}
.yemei ul>li:hover>.erji{
    color:#ccc;
    display: block;
}
.yemei ul>li>.erji:hover{
    cursor: pointer;
}
/*  页眉*/
.iconfont{
    line-height: 12px;
}
/* 分类界面 */
.fenleijiemian{
    
    }
    .fenleijiemian>.fenleijiemian2{
        width: 1090px;
        height: 140px;
        position: relative;
        margin: 0 auto;
        
    }
    .fenleijiemian>.fenleijiemian2>ul.list{
        width: 1090px;
        position: absolute;
        height: 30px;
        bottom: 21px;
        width: 100%;
    }
    .fenleijiemian>.fenleijiemian2>ul.list>li{
        float: left;
        margin-top: 27px;
        padding: 0 26px;
        font-weight: bolder;
        font-size: 14px;     
    }
    .fenleijiemian>.fenleijiemian2>ul.list>li>a{
        color: #333;
    }
    .fenleijiemian>.fenleijiemian2>ul.list>li:first-child{
        padding-left: 0;
    }
    .fenleijiemian>.fenleijiemian2>ul.list>li:last-child{
        padding-right: 0;
    }

    .fenleijiemian>.fenleijiemian2>ul.list>li:first-child>a{
        color: #cc9756;
        border-bottom: 2px solid #cc9756;
    }
    .fenleijiemian>.fenleijiemian2>ul.list>li:hover>a{
        color: #cc9756;
        border-bottom: 2px solid #cc9756;
    }



    .fenleijiemian>.fenleijiemian2>ul.list>li:last-child>a{
        padding-right: 0;
    }

      /* 导航2级目录 */

















/* 购物车，搜索等 */

    .fenleijiemian>.fenleijiemian2>.sousuo2{
        background-color: #cc9756;
        width: 90px;
        height: 42px;
        border-top-right-radius: 19px;
        border-bottom-right-radius: 19px;
        cursor: pointer;
        float: right;
        text-align: center;
        margin-top: 26px;
    }

    .fenleijiemian>.fenleijiemian2>.sousuo2>span{
        margin: 0 auto;
        color: #fff;
        font-size: 16px;
        line-height: 38px;
        text-align: center;
    }

    .fenleijiemian>.fenleijiemian2>.sousuo{
        position: relative;
        margin-top: 26px;
        float: right;
        width: 462px;
        height: 36px;
    }
    .fenleijiemian>.fenleijiemian2>.sousuo>input{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 38px;
        line-height: 38px;
        border: 1px solid #cc9756;
        border-bottom-left-radius: 19px;
        border-top-left-radius: 19px;
        width: 442px;
        padding-left: 18px;
        outline: 0;
        margin-left: ;

    }
    .fenleijiemian>.fenleijiemian2>.gouwuche{
        position: relative;
        margin-top: 26px;
        margin-left: 49px;
        float: right;
        z-index: 4;
    }
    .fenleijiemian>.fenleijiemian2>.gouwuche>.gouwuche2{
        position: relative;
        cursor: pointer;
        width: 134px;
        height: 38px;
        border: 1px solid #cc9756;
        border-radius: 19px;



    }
    .gouwuche2>.icon-0{
        color: #d22a2c;
        font-size: 19px;
        line-height: 38px;

    }
    .gouwuche2>span{
        margin: 0 auto;
        font-size: 14px;
        color: #cc9756;
        cursor: pointer;

        
    }
    .gouwuche2>.icon-icon-test10{
        color: #cc9756;
        margin-left: 22px;

        
    }

    /* 购物车 */
  /* 大图 */
  .titlepicture{
    width: 100%;
    height: 420px;
    background-color: #f5f5f5;
}
.titlepicture>.titlepicture2{
    margin: 0 auto;
    width: 1920px;
}
/* 大图 */
/* 新品首发 */
.news{
    margin-bottom: 1em ;
}
.news > ul.list{
    width: 1090px;
    margin: 0 auto;

    padding: 1em 0;

}
.news >ul.list::after{
    content: "";
    clear: both;
    display: block;

}
.news >ul.list>li{
    height: 300px;

    float: left;
    width: 265px;
    margin-right: 10px;
    margin-bottom: 1em;

}

.news >ul.list>li:nth-child(4n){
    margin-right: 0;
}
.news li.item{
    text-align: center;
}

.news li.item > .picture {
    box-sizing: border-box;
    background-color: #f3f3f3;
    height: 265px;
}
.news .introduce >.active{
    background-color: #e36844;
    color:#ffffff;
    display: inline-block;
    margin: 2px;
    
}
.news .introduce > .price{
    color: #e36844;
}
/* 新品首发 */